---
import Layout from '../layouts/Layout.astro';
import Home from '../components/home/Home.astro'
import Header from '../components/Header.astro';
---

<Layout title="Fede Chaves Developer.">
	<Header client:idle/>
	<main class="main">
		<Home />
	</main>
</Layout>

<style>
 .main {
	display: block;
	height: 500px;
 }
</style>
