---
import './home.css'
---

<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__content grid">
            <h1>social</h1>

            <div class="home__img"></div>

            <h1>data</h1>
        </div>
        
        <h1>scrolld</h1>
    </div>